* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background: #bbeaf0;
}
.inputs {
  margin: 45px 45px 20px 40px;
}

canvas {
  margin-left: 45px;
  border: 1px solid #5596cc;
  box-shadow: 0px 0px 24px #5596cc;
}
button {
  font-family: "Raleway", sans-serif;
  padding: 5px 24px;
  border: none;
  box-shadow: 0px 0px 24px #5596cc;
  background: #bbeaf0;
  transition: all 1s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}
button:hover {
  background: #79b3e2;
  color: #fff;
}

.form-control {
  font-family: "Raleway", sans-serif;
  border: none;
  box-shadow: 0px 0px 30px #6fade0;
  padding: 5px 24px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 4px;
}
