* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background: rgb(212, 217, 238);
  background: linear-gradient(
    90deg,
    rgba(212, 217, 238, 1) 0%,
    rgba(153, 142, 199, 1) 54%,
    rgba(89, 83, 126, 1) 100%
  );
}
.inputs {
  margin: 45px 45px 20px 40px;
}
#input {
  display: flex;
  justify-content: start;
  margin: 10px;
}
#tutorial {
  margin-left: 45px;
  border: 3px solid #241b55;
}
